*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.winFoto,
.verliesFoto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.winFoto img:first-child,
.verliesFoto img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.winFoto img:last-child,
.verliesFoto img:last-child {
    z-index: 1;
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
}

.informatiebackgroud{
    background-color: #1B1717;
    color: white;
    height: 100vh;
}